.cb-grid-lines { 
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  background: rgba(99,99,99,0.1);
  z-index: 9999;
}

.grid-overlay-container {
  pointer-events: none;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  padding: 0 4px;
  max-width: 1280px;
  position: relative;
  background: rgba(99,99,99,0.2);
}

@media (min-width: 1282px) {
    .grid-overlay-container:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background: rgba(99,99,99,0.2);
    }
    
    .grid-overlay-container:after {
      content: '';
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background: rgba(99,99,99,0.2);
    }
}

.grid-overlay-row {
  height: 100%;
}

.grid-overlay-col {
    height: 100%;
    pointer-events: none;
    background: rgba(244, 174, 1, 0.31); /* F4AE01 */
    background: linear-gradient(to right, rgba(244, 174, 1, 0.35),  rgba(244, 174, 1, 0.3), rgba(244, 174, 1, 0.35));
    margin: 0 4px;
    width: calc(12.5% - 8px);
    display: inline-block;
}

@media (min-width: 769px) {
    .grid-overlay-container {
        padding: 0 8px;
    }
    .grid-overlay-col {
        margin: 0 8px;
        width: calc(6.25% - 16px);
    }   
}