.cb-grid-lines { 
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  background: rgba(99,99,99,0.1);
  z-index: 16777271;
  margin: 0;
}

.grid-overlay-container {
  pointer-events: none;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  position: relative;
  background: rgba(99,99,99,0.2);
}

.grid-overlay-col {
  height: 100%;
  pointer-events: none;
  background: rgba(244, 174, 1, 0.31);
  margin: 0 8px;
  display: inline-block;
}


.grid-overlay-row {
  pointer-events: none;
  height: 100%;
  width: 100%;
}

