label {
    color: #555;
    display: inline-block;
    margin-bottom: 2px;
    font-weight: 300;
}

.switch {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.switch > label {
    padding: .875rem 0;
    flex: 1;
}

.switch > input {
    position: absolute;
    
    flex: 2;
    z-index: 5;
    width: 2.25rem;
    height: 1.5rem;
    padding: 0;
    margin: .625rem 0 .625rem 1rem;
    cursor: pointer;
    opacity: 0;
}

.switch > input + span {
    position: relative;
    display: block;
    width: 2.5rem;
    height: 1.5rem;
    margin: .625rem;
    color: transparent;
    text-indent: 100%;
    cursor: pointer;
    background: #B9B8B8 none repeat scroll 0 0;
    border-radius: 25rem;
    transition: left 0.15s ease-out 0s;
}

.switch > input:checked {
    margin-left: 0.75rem;
}

.switch input:checked + span {
    background: #0554BA none repeat scroll 0 0;
}


.switch > input + span::after {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    display: block;
    width: 1rem;
    height: 1rem;
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    content: "";
    transform: translate3d(0, 0, 0);
    transition: left 0.15s ease-out 0s;
}

.switch input:checked + span::after {
    left: 1.25rem;
}

#gridsettings {
    width: 225px;
}

#gridsettings * {
    box-sizing: border-box;
}

#gridsettings input[type=number] {
    margin-bottom: 8px;
    border-radius: 3px;
    color: rgb(85, 85, 85);
    border: 1px solid #d3d3d3;
    width: 100%;
    padding: 3px 0 3px 5px;
}

#gridsettings input:focus {
    border-color: #0654BA;
    
    outline: 0 none;
}

#gridsettings fieldset {
    border: 1px solid #ccc;
    padding: 16px 16px 8px 16px;
    border-radius: 2px;
}

input[type=button],
input[type=reset] {
    width: 100%;
    display: block;
    font-size: 14px;
    padding: 8px 0;
    margin: 0 auto 8px;
    border-width: 1px;
    color: rgb(6, 84, 186);
    border-color: rgb(204,204,204);
    border-style: solid;
    border-radius: 3px;
    background-color: rgb(255,255,255);
    text-align: center;
    cursor: pointer;
    -webkit-appearance: button;
}

input[type=reset] {
    margin-top: 8px;
    color: #555555;
    border: 1px solid #999999;
    background-color: rgba(240, 238, 236, 0.5);
}

.gridsettings__columns div, .gridsettings__gutters div {
    width: 50%;
    float: left;
}

.gridsettings__columns div:nth-child(even), .gridsettings__gutters div:nth-child(even) {
    padding: 0 8px 0 0;
}


.tooltip{
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #dddddd;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.35);
    bottom: 26px;
    color: #333333;
    content: attr(info);
    left: 10%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 150px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #fff transparent;
    border-width: 6px 6px 0 6px;
    bottom: 21px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}











